body{
    text-align:center;
}

div#diff{
    position: absolute;
    left:calc(50vw - 150px);
    top:100px;
    width:300px;
    border:100px ;
    background-color: blanchedalmond;
    border-radius: 20px;
}

#in{
    position: absolute;
    top:400px;
    left:calc(50vw - 150px);
}

#border{
    left:calc(50vw - 155px);
    position: absolute;
    top:95px;
    padding-left: 155px;
    padding-right: 155px;
    background-color: black;
    border-radius: 25px;
}

.cha{
    color:#333333;
}

.cha:hover{
    color:black;
}
