body{margin: 0;padding: 0;}

div.search1{
    width: calc(100vw - 30px);
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
}

a{
    text-align: center;
    text-decoration: none;
    font-size:1.5em;
}

h1,h2{
    margin:0px;
    text-align:center;
}
.red{color:black;background-color: #ff9999;}
.yellow{color:black;background-color: #ffffaa;}
.purple{color:black;background-color: #bb77ff;}
.cyan{color:black;background-color:#aaffff;}
.blue{color:black;background-color: #9999ff;}
.yellow:hover{background-color: yellow;}
.red:hover{background-color: #ff5555;}
.purple:hover{color:white;background-color: #7733ff;}
.cyan:hover{background-color:#00ffff;}
.blue:hover{color:white;background-color: #5555ff;}
